<div class="mainView">
  <div class="mainView-avater"><img src="images/avater.jpg" alt=""></div>
  <div class="mainView-tabs" id="mainView-tabs">
    <div class="mainView-tabs-items -topLeft">
      <span class="item-icon"></span>
      <span class="item-label">我的资源</span>
    </div>
    <div class="mainView-tabs-items -topRight">
      <span class="item-icon"></span>
      <span class="item-label">我的考试</span>
    </div>
    <div class="mainView-tabs-items -bottomLeft">
      <span class="item-icon"></span>
      <span class="item-label">我的答疑</span>
    </div>
    <div class="mainView-tabs-items -bottomRight">
      <span class="item-icon"></span>
      <span class="item-label">成绩分析</span>
    </div>
  </div>
</div>