<div class="mainView">
  <div class="mainView-avater"><img src="images/avater.jpg" alt=""></div>
  <div class="mainView-tabs" id="mainView-tabs">
    <a ui-sref="myCourses.chinese" class="mainView-tabs-center">
      <span class="item-info">语文</span>
      <span class="item-info">北大附中实验幼儿园</span>
    </a>
    <a ui-sref="myCourses.chinese" class="mainView-tabs-items -topLeft">
      <span class="item-icon"></span>
      <span class="item-label">美术课堂</span>
    </a>
    <a ui-sref="myCourses.chinese" class="mainView-tabs-items -topRight">
      <span class="item-icon"></span>
      <span class="item-label">音乐乐园</span>
    </a>
    <a ui-sref="myCourses.chinese" class="mainView-tabs-items -bottomLeft">
      <span class="item-icon"></span>
      <span class="item-label">魔法数学</span>
    </a>
    <a ui-sref="myCourses.chinese" class="mainView-tabs-items -bottomRight">
      <span class="item-icon"></span>
      <span class="item-label">英语天地</span>
    </a>
  </div>
</div>
<div ui-view="" />