<div class="mainView">
  <div class="mainView-avater"><img src="images/avater.jpg" alt=""></div>
  <div class="mainView-tabs" id="mainView-tabs">
    <div class="mainView-tabs-center">
      <span class="item-info">王君婷</span>
      <span class="item-info">北大附中实验幼儿园</span>
    </div>
    <a class="mainView-tabs-items -topLeft">
      <span class="item-icon"></span>
      <span class="item-label">绿叶</span>
    </a>
    <a href="#/setting" class="mainView-tabs-items -topRight">
      <span class="item-icon"></span>
      <span class="item-label">设置</span>
    </a>
    <a class="mainView-tabs-items -bottomLeft">
      <span class="item-icon"></span>
      <span class="item-label">红花</span>
    </a>
    <a href="#/message" class="mainView-tabs-items -bottomRight">
      <span class="item-icon"></span>
      <span class="item-label">消息</span>
    </a>
  </div>
</div>