<div class="workStatus">
	<div class="workStatus-avater"></div>
	<div class="workStatus-progress">
		<div class="workStatus-progress__wrap">
			<span class="workStatus-progress__name" ng-bind="name"></span>
			<span class="workStatus-progress__percentage">作业优秀率：<span ng-bind="excellented + '%'"></span></span>
		</div>
		<div class="workStatus-progress__strip">
			<div class="workStatus-progress__current" ng-style="excellentStyle"></div>
		</div>
	</div>
	<div class="workStatus-status">
		<div class="workStatus-status__item">
			<span class="item-label _item-blue"><span ng-bind="excellent"></span>/<span ng-bind="doneCorrect"></span></span>
			<span class="item-text">优秀作业数</span>
		</div>
	</div>
</div>
<div class="workList">
	<div class="workList-label">
		<span>序号</span>
		<span>作业名称</span>
		<span>作业发布时间</span>
		<span>作业科目</span>
		<span>是否优秀</span>
	</div>
	<div class="workList-item" ng-repeat="list in data.homeworkInfo | filter: nameFilterFn | range:selectedPage:pageSize | filter: statusFilterFn">
		<span>{{$index + 1}}</span>
		<span>{{list.names}}</span>
		<span>{{list.createtime}}</span>
		<span>{{list.coursename}}<svg class="icon" aria-hidden="true"><use xlink:href={{getIcons(list.homeworkStatus)}}></use></svg></span>
		<span ng-class="list.goodnum == 0?'': '_excellent'">{{list.goodnum == 0?'待定': ''}}
			<svg class="icon" aria-hidden="true" ng-hide="list.goodnum == 0"><use xlink:href="#icon-jiangzhang1"></use></svg>
		</span>
	</div>
	<div class="workList-page">
		<a ng-repeat="page in data.homeworkInfo | filter:nameFilterFn | pageCount:pageSize" ng-click="selectPage($index + 1)"
			 ng-class="getPageClass($index + 1)">{{$index + 1}}</a>
	</div>
</div>